<app-header></app-header>
<div class="bar">
    <h2>Contact</h2>    
</div>
<section class="contentBox">
    <div class="infoBox">
        <h2>School Information</h2>
        <p>La Nkwantaneng, Madina Municipal, Adenta West</p>
        <p>hettywyb@gmail.com</p>
        <p>Tel: 024 433 1550</p>
    </div>
    <div>
        <form class="form-box" #myForm="ngForm" >
            <input type="text" name="name" id="" placeholder="Name" [(ngModel)]="name"  required>
            <input type="email" name="email" id="" placeholder="Email Address" [(ngModel)]="email" required>
            <input type="text" name="message" id="" placeholder="Message" [(ngModel)]="message"  required>
            <a [routerLink]="['/home']">  <input type="submit" value="Submit" (click)="onSubmit()"></a>
        </form>
    </div>
    
</section>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3970.2802134654107!2d-0.18562618481431847!3d5.6725678340423125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdf9d22372d52c7%3A0xd76e055e1b24409e!2sThe%20Shepherd&#39;s%20Infant%20School!5e0!3m2!1sen!2sgh!4v1677348542006!5m2!1sen!2sgh" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<app-footer></app-footer>