<app-header></app-header>
<div class="bar">
    <h2>Admission Process</h2>
</div>
<div class="contentbox">
    <div class="displaybox">
        <div class="textbox">
            <h2>01</h2>
            <p>Print and Fill out a Basic Application</p>
        </div>
        <div class="textbox">
            <h2>02</h2>
            <p>Schedule a Personal Visitng Day</p>
        </div>
        <div class="textbox">
            <h2>03</h2>
            <p>Experience a Day of School</p>
        </div>
    </div>
    <img src="/assets/images/sample.png" alt="Teacher teaching image">
</div>
<app-footer></app-footer>